.frontmatter {
  & .setting-item-name::after {
    content: 'Frontmatter';
    margin-left: 0.25rem;
    padding: 0.125rem 0.5rem;
    background-color: hsl(0 0% 50% / 0.15);
    border-radius: 1rem;
  }
}

.cm-comment .cm-prop {
  color: var(--code-property);
  opacity: 0.75;
}

.cm-comment .cm-prop-accepted {
  color: var(--code-property);
  font-weight: 500;
}

.cm-comment .cm-string {
  color: var(--code-string);
  opacity: 0.75;
}

.cm-comment .cm-deck-mod {
  color: var(--code-string);
  font-weight: 500;
}

.cm-comment .cm-bool {
  color: var(--code-value);
}

.cm-comment .cm-operator {
  color: var(--text-normal);
}

.cm-comment .cm-error {
  color: var(--color-red);
}
