.frontmatter {
  & .setting-item-name::after {
    content: 'Frontmatter';
    margin-left: 0.25rem;
    padding: 0.125rem 0.5rem;
    background-color: hsl(0 0% 50% / 0.15);
    border-radius: 1rem;
  }
}
